body {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header {
    background-color: transparent !important;
}

.nav-link {
    color: white !important;
    margin: 0px 15px;
}

.nav-link:hover {
    color: rgb(31, 203, 255) !important;
}

.btn:hover {
    background-color: rgb(141, 228, 255);
    color: rgb(45, 45, 45);
    border-color: rgb(141, 228, 255);
}

.btn-outline-primary {
    border-color: white;
    color: white;
}

.btn-primary {
    background-color: white;
    color: black;
    border-color: white;
}

.btn-primary:hover {
    background-color: rgb(141, 228, 255);
    color: rgb(45, 45, 45);;
    border-color: rgb(141, 228, 255);
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-content-quote {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.btn-light {
    margin-top: 30px;
    padding: 15px 70px;
}

.btn-light:hover {
    background-color: rgb(141, 228, 255) !important;
    color: rgb(45, 45, 45);
    border-color:  rgb(141, 228, 255);
}

.main-content-bottom {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.court-image {
    border-radius: 20px;
}

.main-content-bottom-sub {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.main-content-quote-second {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    margin: 0;
    line-height: 1.2;
}

.main-bottom-text {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    color: white;
    text-align: justify;
}

.footer {
    margin-top: 50px;
}

.text-body-secondary{
    color: white;
}
